@import 'variables';
@import 'mixins';

.login-wrapper {
  @include login-wrapper-style;
}

.login-card {
  @include login-card-style;
}

.login-logo {
  margin-bottom: 32px;

  img {
    width: 80px;
    margin-bottom: 12px;
  }

  h1 {
    font-weight: 700;
    font-size: 24px;
    color: white;
    user-select: none;
  }
}

nz-form-label {
  @include form-label-style;
}

nz-form-control {
  @include form-control-style;
}

.login-submit-btn {
  @include login-button-style;
}

.password-toggle-icon {
  @include password-toggle-icon-style;
}

.remember-me {
  @include remember-me-style;
}
